* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  min-height: 100vh;
}

#__nuxt {
  min-height: 100vh;
  height: 100%;
  gap: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

//.webgl {
//  position: fixed;
//  top: 0;
//  left: 0;
//  outline: none;
//}


/**
 * Page transition
 */

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}